<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - youtube.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/youtube.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>
<body>
    <header>
        <div class="navContainer">
            @* first section *@
            <div class="hammerNlogoSection">
                <div class="hammer">
                    <i class="bi bi-list"></i>

                </div>
                <div class="logo">
                    <img src="https://cdn-icons-png.flaticon.com/512/2991/2991188.png" />
                </div>
            </div>

            @* second section *@
            <div class="searchSection">
                <div class="mainSearch">
                    <div class="Sone">
                        <div class="searchIcon">
                            <i class="bi bi-search searchSize"></i>
                        </div>

                        <input class="searchInput" placeholder=" search" />
                    </div>
                    <div class="Stwo">
                        <i class="bi bi-search searchSize"></i>
                    </div>

                </div>
                <div class="voice">
                    <i class="bi bi-mic-fill"></i>

                </div>
            </div>
            @* third section *@
            <div class="userSection">
                <div class="MyUserOptionsOne">
                    <i class="bi bi-search"></i>

                </div>
                <div class="MyUserOptions">
                    <i class="bi bi-camera-video"></i>

                </div>
                <div class="MyUserOptions">
                    <i class="bi bi-bell-fill"></i>

                </div>
                <div class="profilePic ">
                    <img src="@User.Identities." style="width: 100%; height: 100%" />
                </div>

            </div>

        </div>
    </header>
    <div class="fullScreen">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - youtube.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
